:root {
  --scheme-brand-100: #0a0a0a;
  --scheme-brand-200: #171717;
  --scheme-brand-300: #262626;
  --scheme-brand-400: #404040;
  --scheme-brand-500: #525252;
  --scheme-brand-600: #737373;
  --scheme-brand-700: #a3a3a3;
  --scheme-brand-800: #d4d4d4;
  --scheme-brand-900: #e5e5e5;
  --scheme-brand-1000: #f5f5f5;
  --scheme-brand-1100: #fafafa;
  --scheme-brand-1200: #ffffff;
  --scheme-brand-600-15: rgba(115, 115, 115, 0.15);
  --scheme-brand-600-30: rgba(115, 115, 115, 0.3);
  --scheme-brand-600-50: rgba(115, 115, 115, 0.5);

  --scheme-accent-100: #0a0a0a;
  --scheme-accent-200: #171717;
  --scheme-accent-300: #262626;
  --scheme-accent-400: #404040;
  --scheme-accent-500: #525252;
  --scheme-accent-600: #737373;
  --scheme-accent-700: #a3a3a3;
  --scheme-accent-800: #d4d4d4;
  --scheme-accent-900: #e5e5e5;
  --scheme-accent-1000: #f5f5f5;
  --scheme-accent-1100: #fafafa;
  --scheme-accent-1200: #ffffff;
  --scheme-accent-600-15: rgba(115, 115, 115, 0.15);
  --scheme-accent-600-30: rgba(115, 115, 115, 0.3);
  --scheme-accent-600-50: rgba(115, 115, 115, 0.5);
}
